Repository bounswe/bounswe2019group11, pull requests merged in 2019-10, with the labels that each got.

#96 initialize repository for the backend API service
  .gitignore
  backend/app.js
  backend/package.json
Labels: Component: Backend

#131 implement login endpoint
  backend/helpers/errors.js
  backend/models/user.js
  backend/routes/auth.js
  backend/services/auth.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#139 Fixed rating bar
  android/app/src/main/java/com/papel/ui/articles/ArticlesFragment.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/res/layout/activity_read_article.xml
Labels: Component: Mobile

#145 reject unverified users on login
  backend/helpers/errors.js
  backend/routes/auth.js
  backend/services/auth.js
Labels: Component: Backend, Type: Bug

#147 add location info to the user model
  backend/helpers/errors.js
  backend/models/user.js
  backend/routes/auth.js
  backend/services/auth.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#148 validate iban and id number during model verification
  backend/helpers/auth.js
  backend/helpers/errors.js
  backend/models/user.js
  backend/package.json
  backend/routes/auth.js
  backend/services/auth.js
Labels: Component: Backend, Type: Enhancement

#152 Make modifications to article page.
  android/app/src/main/java/com/papel/ListViewAdapter.java
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/data/Comment.java
  android/app/src/main/java/com/papel/ui/articles/ArticlesFragment.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginActivity.java
  android/app/src/main/res/layout/activity_read_article.xml
Labels: Component: Mobile

#153 Add portfolio screen
  android/.gitignore
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/data/Portfolio.java
  android/app/src/main/java/com/papel/data/Stock.java
  android/app/src/main/java/com/papel/data/TradingEquipment.java
  android/app/src/main/java/com/papel/ui/portfolio/ChartTimeValueFormatter.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioDetailActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioFragment.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioListViewAdapter.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioViewModel.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentDetailActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentListViewAdapter.java
  android/app/src/main/java/com/papel/ui/profile/ProfileActivity.java
  android/app/src/main/java/com/papel/ui/slideshow/SlideshowFragment.java
  android/app/src/main/java/com/papel/ui/utils/CustomHurlStack.java
  android/app/src/main/java/com/papel/ui/utils/DialogHelper.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_portfolio_detail.xml
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/activity_trading_equipment_detail.xml
  android/app/src/main/res/layout/dropdown_menu_popup_item.xml
  android/app/src/main/res/layout/fragment_portfolio.xml
  android/app/src/main/res/layout/fragment_slideshow.xml
  android/app/src/main/res/layout/portfolio_row.xml
  android/app/src/main/res/layout/trading_equipment_row.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: Component: Mobile

#160 implement email verification resend endpoint
  backend/routes/auth.js
  backend/services/auth.js
  backend/swagger.json
Labels: Component: Backend, Type: Enhancement

#162 Fix login screen
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/data/User.java
  android/app/src/main/java/com/papel/ui/home/data/LoginDataSource.java
  android/app/src/main/java/com/papel/ui/home/data/LoginRepository.java
  android/app/src/main/java/com/papel/ui/home/data/Result.java
  android/app/src/main/java/com/papel/ui/home/data/model/LoggedInUser.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoggedInUserView.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginActivity.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginFormState.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginResult.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginViewModel.java
  android/app/src/main/java/com/papel/ui/home/ui/login/LoginViewModelFactory.java
  android/app/src/main/java/com/papel/ui/login/LoginActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioDetailActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioFragment.java
  android/app/src/main/java/com/papel/ui/portfolio/PortfolioViewModel.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentDetailActivity.java
  android/app/src/main/java/com/papel/ui/profile/ProfileActivity.java
  android/app/src/main/java/com/papel/ui/utils/ConnectionHelper.java
  android/app/src/main/java/com/papel/ui/utils/DialogHelper.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/drawable/custom_button.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: Component: Mobile

#169 Add android icon
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/papel_icon-web.png
  android/app/src/main/res/drawable/papel_icon_background.xml
  android/app/src/main/res/mipmap-anydpi-v26/papel_icon.xml
  android/app/src/main/res/mipmap-anydpi-v26/papel_icon_round.xml
  android/app/src/main/res/mipmap-hdpi/papel_icon.png
  android/app/src/main/res/mipmap-hdpi/papel_icon_foreground.png
  android/app/src/main/res/mipmap-hdpi/papel_icon_round.png
  android/app/src/main/res/mipmap-mdpi/papel_icon.png
  android/app/src/main/res/mipmap-mdpi/papel_icon_foreground.png
  android/app/src/main/res/mipmap-mdpi/papel_icon_round.png
  android/app/src/main/res/mipmap-xhdpi/papel_icon.png
  android/app/src/main/res/mipmap-xhdpi/papel_icon_foreground.png
  android/app/src/main/res/mipmap-xhdpi/papel_icon_round.png
  android/app/src/main/res/mipmap-xxhdpi/papel_icon.png
  android/app/src/main/res/mipmap-xxhdpi/papel_icon_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/papel_icon_round.png
  android/app/src/main/res/mipmap-xxxhdpi/papel_icon.png
  android/app/src/main/res/mipmap-xxxhdpi/papel_icon_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/papel_icon_round.png
Labels: Component: Mobile

#166 implement lost password endpoint
  backend/app.js
  backend/helpers/auth.js
  backend/helpers/errors.js
  backend/middlewares/attachUser.js
  backend/middlewares/isAuthenticated.js
  backend/models/article.js
  backend/models/event.js
  backend/models/lostPasswordToken.js
  backend/models/stock.js
  backend/models/tradingEquipment.js
  backend/models/user.js
  backend/routes/event.js
  backend/routes/profile.js
  backend/routes/stock.js
  backend/services/auth.js
  backend/services/email.js
  backend/services/event.js
  backend/services/profile.js
  backend/services/stock.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#163 Added ecomic events, color gradient to background and ionicon
  frontend/deneme.txt
  frontend/papel-frontend/package-lock.json
  frontend/papel-frontend/public/index.html
  frontend/papel-frontend/src/App.css
  frontend/papel-frontend/src/App.js
  frontend/papel-frontend/src/EconEvent/EconEvent.css
  frontend/papel-frontend/src/EconEvent/EconEvent.js
  frontend/papel-frontend/src/EconEvent/EconEvents.js
  frontend/papel-frontend/src/Login/Login.js
  frontend/papel-frontend/src/desktop.ini
  frontend/papel-frontend/src/logo-green-small.png
  frontend/papel-frontend/src/logo-green.png
  frontend/papel-frontend/src/logo-white.png
Labels: Component: Frontend

#168 Portfolio-Event-Article
  backend/.env
  backend/app.js
  backend/helpers/errors.js
  backend/models/article.js
  backend/models/event.js
  backend/models/portfolio.js
  backend/package.json
  backend/routes/article.js
  backend/routes/portfolio.js
  backend/services/article.js
  backend/services/event.js
  backend/services/portfolio.js
  backend/services/stock.js
  backend/swagger.json
Labels: Work in progress

#171 implement get user endpoints
  backend/app.js
  backend/routes/user.js
  backend/services/user.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#173 fix article related errors
  backend/helpers/errors.js
  backend/middlewares/isAuthenticated.js
  backend/models/article.js
  backend/routes/article.js
  backend/services/article.js
  backend/swagger.json
Labels: Component: Backend, Type: Bug

#175 some backend related fixes
  backend/.env
  backend/helpers/auth.js
  backend/routes/stock.js
  backend/services/auth.js
  backend/services/email.js
  backend/services/stock.js
Labels: Component: Backend, Type: Bug

#177 Mobile article
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/ListViewAdapter.java
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/data/Event.java
  android/app/src/main/java/com/papel/ui/articles/AddArticleActivity.java
  android/app/src/main/java/com/papel/ui/articles/ArticlesFragment.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/events/EventsFragment.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_read_article.xml
  android/app/src/main/res/layout/custom_list_row.xml
  android/app/src/main/res/layout/fragment_events.xml
Labels: Component: Mobile

#178 Design changes
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/ListViewAdapter.java
  android/app/src/main/java/com/papel/ui/articles/ArticlesFragment.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/drawable/ic_menu_article.xml
  android/app/src/main/res/drawable/ic_menu_event.xml
  android/app/src/main/res/drawable/ic_menu_portfolio.xml
  android/app/src/main/res/layout/custom_list_row.xml
  android/app/src/main/res/layout/fragment_portfolio.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/values/colors.xml
Labels: Component: Mobile

#181 Changed list row design.
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/ListViewAdapter.java
  android/app/src/main/java/com/papel/ui/events/EventsFragment.java
  android/app/src/main/res/layout/custom_list_row.xml
  android/app/src/main/res/layout/fragment_articles.xml
  android/app/src/main/res/layout/fragment_portfolio.xml
Labels: Component: Mobile

#186 Add iban and id fiels
  android/app/src/main/java/com/papel/ui/login/LoginActivity.java
Labels: Component: Mobile

#189 Changed date format of event.
  android/app/src/main/java/com/papel/data/Event.java
Labels: Component: Mobile
