Repository bounswe/bounswe2019group11, pull requests merged in 2019-12, with the labels that each got.

#296 Add notification endpoint
  backend/app.js
  backend/helpers/errors.js
  backend/models/followNotification.js
  backend/routes/notification.js
  backend/routes/profile.js
  backend/services/notification.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#300 Implement money related endpoints
  backend/app.js
  backend/helpers/errors.js
  backend/middlewares/isTrader.js
  backend/models/user.js
  backend/routes/money.js
  backend/services/money.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#309 Simple investments page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/data/Investment.java
  android/app/src/main/java/com/papel/data/UserInvestments.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentListViewAdapter.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
  android/app/src/main/java/com/papel/ui/investments/SendViewModel.java
  android/app/src/main/java/com/papel/ui/send/SendFragment.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_profile.xml
  android/app/src/main/res/layout/add_investment_dialog.xml
  android/app/src/main/res/layout/fragment_investments.xml
  android/app/src/main/res/layout/fragment_send.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#310 A small bug-fix with the profile activity.
  android/app/src/main/java/com/papel/ui/profile/ProfileActivity.java
Labels: Component: Mobile, Estimation: XS, Priority: Medium, Ready for Review

#311 Changed the trading equipment title to represent the parity
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentDetailActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentListViewAdapter.java
Labels: Component: Mobile, Ready for Review

#312 Add image to article
  android/app/build.gradle
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/article_header.xml
Labels: Component: Mobile

#313 Cache stock prices
  backend/jobs/jobs.js
  backend/models/stock.js
  backend/routes/stock.js
  backend/services/stock.js
Labels: Component: Backend, Type: Enhancement

#316 fix stock comments and add swagger documentation
  backend/routes/stock.js
  backend/services/stock.js
  backend/swagger.json
Labels: Component: Backend, Type: Bug, Type: Documentation

#319 Money endpoint implement in Android
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/ui/money/MoneyFragment.java
  android/app/src/main/res/layout/fragment_money.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Estimation: XS, Priority: Medium

#322 Add investments activity is created
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentListViewAdapter.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
  android/app/src/main/java/com/papel/ui/investments/SendViewModel.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentListViewAdapter.java
  android/app/src/main/res/layout/activity_add_investment.xml
  android/app/src/main/res/layout/add_investment_dialog.xml
  android/app/src/main/res/layout/fragment_investments.xml
  android/app/src/main/res/layout/investment_row.xml
  android/app/src/main/res/layout/trading_eq_list_template.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#330 Added image url field in "Add Article page"
  android/app/src/main/java/com/papel/ui/articles/AddArticleActivity.java
  android/app/src/main/java/com/papel/ui/articles/ArticlesFragment.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_add_article.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#332 Implemented a basic search functionality
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/SearchAdapter.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/content_main.xml
  android/app/src/main/res/menu/main.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#334 "Money" section on Profile page implemented partially
  frontend/papel-frontend/src/Profile/BalanceCard.js
  frontend/papel-frontend/src/Profile/Profile.js
Labels: Component: Frontend, Estimation: S, Priority: Medium, Status: Completed

#337 Implement backend endpoints for alerts for stocks & currencies
  backend/helpers/alert.js
  backend/helpers/errors.js
  backend/jobs/jobs.js
  backend/models/alert.js
  backend/models/alertNotification.js
  backend/routes/currency.js
  backend/routes/profile.js
  backend/routes/stock.js
  backend/routes/user.js
  backend/services/alert.js
  backend/services/currency.js
  backend/services/notification.js
  backend/services/stock.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#341 Implement backend for the semantic search
  backend/.env
  backend/app.js
  backend/models/article.js
  backend/models/currency.js
  backend/models/event.js
  backend/models/stock.js
  backend/models/user.js
  backend/routes/search.js
  backend/services/search.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#335 Article Comments, Home Page Charts & Money Section
  frontend/papel-frontend/src/Article/Article.js
  frontend/papel-frontend/src/Article/CommentPreview.js
  frontend/papel-frontend/src/Home/Home.js
  frontend/papel-frontend/src/Home/StockChart2.js
  frontend/papel-frontend/src/Home/USD.js
  frontend/papel-frontend/src/Profile/Profile.js
  frontend/papel-frontend/src/helpers/request.js
Labels: Component: Frontend, Estimation: M, Priority: Medium, Status: Completed

#343 store location info on registration and add ability to search users b…
  backend/.env
  backend/models/user.js
  backend/services/auth.js
  backend/services/search.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#344 send price of the stock on getall endpoint
  backend/services/stock.js
Labels: Component: Backend, Type: Enhancement

#345 send follow notification only when the other user's profile is private
  backend/models/user.js
  backend/routes/profile.js
  backend/services/notification.js
Labels: Component: Backend, Type: Bug

#315 Investments documentation and implementation
  backend/helpers/errors.js
  backend/routes/investments.js
  backend/services/investments.js
  backend/swagger.json
Labels: Component: Backend, Status: In Progress, Type: Enhancement

#347 Android annotation
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/data/Annotation.java
  android/app/src/main/java/com/papel/data/AnnotationBody.java
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/ui/articles/AnnotationListViewAdapter.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/articles/ShowAnnotationActivity.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/activity_read_article.xml
  android/app/src/main/res/layout/activity_show_annotation.xml
  android/app/src/main/res/layout/annotation_comment.xml
  android/app/src/main/res/layout/article_header.xml
  android/app/src/main/res/values/colors.xml
Labels: Component: Mobile, Estimation: L, Type: Enhancement

#350 Android alerts
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/data/Alert.java
  android/app/src/main/java/com/papel/ui/profile/AlertAdapter.java
  android/app/src/main/java/com/papel/ui/profile/ProfileActivity.java
  android/app/src/main/java/com/papel/ui/profile/ProfileSubpageAdapter.java
  android/app/src/main/java/com/papel/ui/profile/ProfileSubpageFragment.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/alert_row.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Type: Enhancement

#354 return currency id on alert notification
  backend/jobs/jobs.js
  backend/models/alertNotification.js
  backend/swagger.json
Labels: Component: Backend, Type: Enhancement

#355 added documentation to sell trading equipments
  backend/swagger.json
Labels: Component: Backend, Ready for Review, Type: Documentation

#356 add partial search support for user names and article titles
  backend/services/search.js
Labels: Component: Backend, Type: Enhancement

#357 Replaced search functionality with semantic search.
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/SearchAdapter.java
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/data/Currency.java
  android/app/src/main/java/com/papel/data/Event.java
  android/app/src/main/java/com/papel/data/Stock.java
  android/app/src/main/java/com/papel/data/User.java
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/content_main.xml
Labels: Component: Mobile, Ready for Review

#362 Setting alarms functionality is implemented
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/tradingequipments/TradingEquipmentsFragment.java
  android/app/src/main/res/layout/edit_comment_prompt.xml
  android/app/src/main/res/menu/alert_menu.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#364 Fix trading equipment bug from search
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/ui/portfolio/TradingEquipmentDetailActivity.java
Labels: Component: Mobile, Priority: Critical, Type: Bug

#366 Implement recommendation endpoints
  backend/.env
  backend/app.js
  backend/models/article.js
  backend/routes/recommendation.js
  backend/services/article.js
  backend/services/recommendation.js
  backend/swagger.json
Labels: Component: Backend, Type: Documentation, Type: Enhancement

#368 Implemented a method to get investments of the user
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/data/User.java
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
Labels: Component: Mobile, Ready for Review

#369 add stock symbol to alerts
  backend/app.js
  backend/models/alert.js
  backend/services/stock.js
  backend/swagger.json
Labels: Component: Backend, Type: Enhancement

#371 fix article recommendatitions
  backend/services/article.js
  backend/services/recommendation.js
Labels: Component: Backend, Type: Bug

#374 fixed bugs about type casting
  backend/routes/investments.js
  backend/services/investments.js
Labels: Component: Backend

#346 Implement filters for events
  backend/routes/event.js
  backend/services/event.js
Labels: Component: Backend, Status: In Progress

#378 The functionality to show notifications is implemented.
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/res/drawable/ic_notification.xml
  android/app/src/main/res/layout/content_main.xml
  android/app/src/main/res/menu/main.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#379 Android investments
  .gitignore
  android/app/src/main/java/com/papel/SellButtonListener.java
  android/app/src/main/java/com/papel/data/Alert.java
  android/app/src/main/java/com/papel/data/Currency.java
  android/app/src/main/java/com/papel/data/Investment.java
  android/app/src/main/java/com/papel/data/UserInvestments.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentListViewAdapter.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
  android/app/src/main/java/com/papel/ui/profile/AlertAdapter.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
Labels: Component: Mobile, Type: Bug, Type: Enhancement

#380 Fix update bug in investment list after adding investment
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
Labels: Component: Mobile, Type: Bug

#385 Notification structure is changed.
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/NotificationAdapter.java
  android/app/src/main/java/com/papel/data/PapelNotification.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
  android/app/src/main/res/layout/content_main.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Ready for Review

#387 Deleting notifications is implemented
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/data/PapelNotification.java
  android/app/src/main/java/com/papel/ui/investments/AddInvestmentActivity.java
  android/app/src/main/java/com/papel/ui/investments/InvestmentsFragment.java
  android/app/src/main/res/drawable/ic_investment.xml
  android/app/src/main/res/drawable/ic_wallet.xml
  android/app/src/main/res/layout/content_main.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
Labels: Component: Mobile, Ready for Review

#388 Alert Notifications, Image Annotations, Commenting on Text Annotations
  frontend/papel-frontend/src/App.js
  frontend/papel-frontend/src/Article/Annotation.js
  frontend/papel-frontend/src/Article/Article.js
  frontend/papel-frontend/src/Currency/Currencies.js
  frontend/papel-frontend/src/config.js
Labels: Component: Frontend, Estimation: L, Priority: Critical, Status: Completed

#389 Android recommendation
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/MainActivity.java
  android/app/src/main/java/com/papel/data/Article.java
  android/app/src/main/java/com/papel/ui/recommendations/NearbyUserAdapter.java
  android/app/src/main/java/com/papel/ui/recommendations/NearbyUserFragment.java
  android/app/src/main/java/com/papel/ui/recommendations/RecommendationFragment.java
  android/app/src/main/java/com/papel/ui/recommendations/RecommendationSubpageAdapter.java
  android/app/src/main/java/com/papel/ui/recommendations/RecommendedArticleAdapter.java
  android/app/src/main/java/com/papel/ui/recommendations/RecommendedArticleFragment.java
  android/app/src/main/res/layout/fragment_nearby_user.xml
  android/app/src/main/res/layout/fragment_recommendation.xml
  android/app/src/main/res/layout/fragment_recommended_article.xml
  android/app/src/main/res/layout/nearby_user_row.xml
  android/app/src/main/res/layout/recommended_article_row.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Component: Mobile, Type: Enhancement

#392 Android annotation name fix
  android/app/src/main/java/com/papel/Constants.java
  android/app/src/main/java/com/papel/data/AnnotationBody.java
  android/app/src/main/java/com/papel/ui/articles/AnnotationListViewAdapter.java
  android/app/src/main/java/com/papel/ui/articles/ReadArticleActivity.java
  android/app/src/main/java/com/papel/ui/utils/ResponseParser.java
Labels: Component: Mobile, Type: Bug

#393 return only the unique article recommendations
  backend/services/recommendation.js
Labels: Component: Backend, Type: Bug

#382 Semantic Search
  frontend/papel-frontend/package-lock.json
  frontend/papel-frontend/src/App.js
  frontend/papel-frontend/src/Currency/Prediction.js
  frontend/papel-frontend/src/Profile/FileUpload.js
  frontend/papel-frontend/src/Search/Search.js
  frontend/papel-frontend/src/Search/SearchResults.js
  frontend/papel-frontend/src/config.js
Labels: Component: Frontend, Priority: Critical, Status: Completed

#398 Change annotation url to AWS server
  android/app/src/main/java/com/papel/Constants.java
Labels: Component: Mobile

#399 do not return the user in the nearby users
  backend/services/recommendation.js
Labels: Component: Backend, Type: Bug
