Repository bounswe/bounswe2019group11, pull requests merged in 2019-05, with the labels that each got.

#65 add exchange rate test
  practice-app/.env
  practice-app/README.md
  practice-app/helpers/db.js
  practice-app/index.js
  practice-app/package.json
  practice-app/routes/exchange_rate_api.js
  practice-app/test/exchange_rate_api_test.js
  practice-app/test/exchange_rate_test.js
Labels: Component: Backend, Type: Test

#66 Added average calculation api for exchange rates
  practice-app/.env
  practice-app/README.md
  practice-app/routes/exchange_rate_api.js
  practice-app/views/exchange_rate.pug
Labels: Component: Backend, Component: Frontend

#69 Frontend for average exchange rate response
  practice-app/routes/exchange_rate_api.js
  practice-app/views/avg_exchange_rate.pug
  practice-app/views/exchange_rate.pug
Labels: Component: Backend, Component: Frontend, enhancement

#72 Added some tests for Average ExchangeRate API
  practice-app/test/exchange_rate_api_test.js
Labels: Component: Backend, Type: Test

#74 Updated Database Integration for Stock Index API
  practice-app/index.js
  practice-app/models/stockSchema.js
  practice-app/routes/stock.js
Labels: Component: Backend

#94 fix exchange rate view test
  practice-app/test/exchange_rate_test.js
Labels: Component: Backend, Type: Test
